<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <!-- This will handle requests up to 50MB  -->
    <httpRuntime targetFramework="4.6.1" maxRequestLength="51200" executionTimeout="360"/>

    <sessionState mode="InProc" cookieless="false" timeout="20" />

    <!-- showing full details of the error on a client's browser -->
    <customErrors mode="Off"/>
   
  </system.web>


  <system.webServer>
    <!-- showing full details of the error on a client's browser -->
    <!-- <httpErrors errorMode="Detailed" /> -->

    <!-- IIS Specific Targeting (noted by the system.webServer section) -->
    
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="13" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="403" path="error.aspx?error=403" responseMode="Redirect" />
      <error statusCode="404" subStatusCode="13" path="error.aspx?error=404" responseMode="Redirect" /> 
      <error statusCode="500" path="error.aspx?error=500" responseMode="Redirect" />
    </httpErrors>
    

    <!-- This will handle requests up to 50MB -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>

  </system.webServer>


  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
          type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
          type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

</configuration>
